{% extends 'base.html' %}
{% block title %}  Панель управления {% endblock %}

{% block delete_confirm %}
    <script type="text/javascript">
        <!--
        function getConfirmation(){
            var retVal = confirm("Вы уверены что хотите выйти?");
            if(retVal) return true;
            else return false;
        }
        //-->
    </script>
{% endblock %}
{% block search %}
{% endblock %}
{% block nav %}

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'adminIndex' %}"><span class="glyphicon glyphicon-home"></span> Список машин</a></li>
            <li><a href="{% url 'order_list' %}"><span class="glyphicon glyphicon-tags"></span> Список заявок</a></li>
            <li><a href="{% url 'message' %}"><span class="glyphicon glyphicon-envelope"></span> Сообщения</a></li>
            <li><a href="{% url 'car_create' %}"><span class="glyphicon glyphicon-plus"></span> Добавить машину</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти {{request.user.username}}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Войти</a></li>
            {% endif %}

        </ul>
    </div>

{% endblock %}


{% block body %}
    <div class='container table-responsive'>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><h5><strong><span class="glyphicon glyphicon-list"></span> Весь список машин</strong></h5> </div>
            <div class="panel-body">
                <strong class="navbar-form navbar-left" style="color: #5f5f5f;"><span class="glyphicon glyphicon-cog"></span> {{ car|length }} машин на страницу </strong>

                <!-- search box-->

                <form method="GET" class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск машины" value="{{request.GET.q}}" name="q">
                    </div>
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Поиск</button>
                </form>

                <!-- Table -->

                <table class="table table-bordered table-striped table-hover">

                    <tr>
                        <td><strong>Название машины</strong></td>
                        <td><strong>Имя компании</strong></td>
                        <td><strong>Количество мест</strong></td>
                        <td><strong>Стоимость за день</strong></td>
                        <td><strong>Понравилось</strong></td>
                        <td><strong>Действия</strong></td>
                    </tr>

                    <tbody>
                    {% for ob in car %}

                        <tr>
                            <td>{{ob.car_name}}</td>
                            <td>{{ob.company_name}}</td>
                            <td>{{ob.num_of_seats}}</td>
                            <td>{{ob.cost_par_day}}</td>
                            <td>{{ob.like}}</td>

                            <td>

                                <a href="{% url 'car_detail' ob.id %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></button></a>
                                <a href="{% url 'car_edit' ob.id %}"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                <a href="{% url 'car_delete' ob.id %}"><button type="button" class="btn btn-danger" onclick="return getConfirmation()"><span class="glyphicon glyphicon-trash"></span></button></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <nav>
                    <ul class="pager">
                        <li class="previous">
                            {% if car.has_previous %}
                                <a href="?page={{ car.previous_page_number }}" class="next-page"><span aria-hidden="true">&larr;</span>Назад</a>
                            {% endif %}
                        </li>
                        <li class="previous" style="color: black;">
                            Страниц {{ car.number }} из {{ car.paginator.num_pages }}.

                        </li>
                        <li class="next">
                            {% if car.has_next %}
                                <a href="?page={{ car.next_page_number }}" class="next-page">Вперед <span aria-hidden="true">&rarr;</span></a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <hr>

            </div>

        </div>



    </div> <!--end container-->
{% endblock %}