{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Прокат автомобилей {% endblock %}</title>

    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
</head>

<body>

<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-align-justify"></span>

            </button>


            <a href="{% url 'home' %}" class="navbar-brand"><span class="glyphicon glyphicon-fire"></span> Прокат автомобилей</a>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% block search %}
                        <!-- search box-->

                        <form method="GET" class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Поиск машины"
                                       value="{{ request.GET.q }}" name="q">
                            </div>
                            <button type="submit" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-search"></span> Поиск
                            </button>
                        </form>
                    {% endblock %}

                    {% block nav %}
                        <li><a href="{% url 'newcar' %}"><span class="glyphicon glyphicon-align-justify"></span>Новые машины</a></li>
                        <li><a href="{% url 'popularcar' %}"><span class="glyphicon glyphicon-star"></span>Популярные машина</a></li>
                        <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-envelope"></span>Контакты</a></li>

                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти {{ request.user.username }}</a></li>
                        {% else %}
                            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span>Регистрация</a></li>
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Войти</a></li>
                        {% endif %}
                    {% endblock %}
            </ul>
        </div>
    </div>
</nav>


{% block body %}
    <div class="container">

    </div>
{% endblock %}
</body>
</html>