{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Добавить машину {% endblock %}

{% block search %}
{% endblock %}
{% block nav %}

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'adminIndex' %}"><span class="glyphicon glyphicon-home"></span> Список машин</a></li>
        <li><a href="{% url 'order_list' %}"><span class="glyphicon glyphicon-tags"></span> Список заявок</a></li>
        <li><a href="{% url 'message' %}"><span class="glyphicon glyphicon-envelope"></span> Сообщения</a></li>
         <li><a href="{% url 'car_create' %}"><span class="glyphicon glyphicon-plus"></span> Добавить машину</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти</a></li>
      </ul>
    </div>

{% endblock %}
{% block body %}
<div class ='col-sm-6 col-sm-offset-3'>
    <div class="panel panel-primary">
<div class="list-group-item active">
    <strong><span class="glyphicon glyphicon-film"></span> Добавить машину</strong>
  </div><br>
<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
      {{form|crispy}}

    <input type="submit" class='btn btn-primary' value="Create post">
</form>
        </div>
</div>
{% endblock %}