{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}

{% block search %}

{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Домой</a></li>
        <li><a href="{% url 'car_list' %}"><span class="glyphicon glyphicon-list"></span> Список машин</a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Войти</a></li>
        <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
      </ul>
    </div>
{% endblock %}
{% block body %}
<div class ='col-sm-5 col-sm-offset-3'>
    <h1>{{ title }}</h1><hr>

    <form method="POST" action="">{% csrf_token %}
      {{form|crispy}}
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="{{ title }}"/>
        </div>

</form>
</div>
{% endblock %}