{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Прокат автомобилей {% endblock %}</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_for_home.css' %}" type="text/css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-align-justify"></span>

            </button>
            <a href="{% url 'home' %}" class="navbar-brand"><span class="glyphicon glyphicon-fire"></span> Прокат автомобилей</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">О нас</a></li>
                <li><a href="#services">Сервисы</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li><a href="{% url 'car_list' %}">Список автомобилей</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти {{ request.user.username }}</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Войти</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<!--slide-->
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="container">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'images/slide1.jpg' %}"/>
            </div>
            <div class="item">
                <img src="{% static 'images/slide2.jpg' %}"/>
            </div>
            <div class="item">
                <img src="{% static 'images/slide3.jpg' %}"/>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container (About Section) -->
<div class="container container-fluid" style="margin-top: 15px;">
    <div class="row">
        {% for ob in car %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    {% if ob.image %}
                        <img src='{{ ob.image.url }}' class="img-responsive"/>
                    {% endif %}
                    <div class="caption">
                        <strong>{{ ob.car_name }}</strong>
                        <p> Название компании: {{ ob.company_name }}<br>
                            Количество мест: {{ ob.num_of_seats }}<br>
                            Стоимость за день: {{ ob.cost_par_day }} рублей<br>
                        </p>
                        {% if user.is_staff %}
                            <div class="pull-right">
                                <p><a href="{% url 'car_detail' ob.id %}" class="btn btn-primary" role="button">Подробно</a>
                                    <a href="{% url 'order_create' %}" class="btn btn-danger" role="button">Бронь</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


        {% endfor %}
    </div>

    <nav>
        <ul class="pager">
            <li class="previous">
                {% if car.has_previous %}
                    <a href="?page={{ car.previous_page_number }}" class="next-page"><span aria-hidden="true">&larr;</span>Назад</a>
                {% endif %}
            </li>
            <li class="previous" style="color: black;">
                Страниц {{ car.number }} из {{ car.paginator.num_pages }}.

            </li>
            <li class="next">
                {% if car.has_next %}
                    <a href="?page={{ car.next_page_number }}" class="next-page">Вперед <span aria-hidden="true">&rarr;</span></a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <hr>
</div>

<!-- Container (About Section) -->
<div class="container">
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Прокат автомобилей</h2><br>
                <h4><div style="text-align: justify;">Мы поможем вам быстро найти автомобиль напрокат по самой выгодной цене и получить максимум удовольствия
                    от самостоятельного путешествия. Выполняйте поиск по данным ведущих прокатных компаний мира.
                    Моментально сравнивайте цены, а затем бронируйте автомобиль напрокат в выбранной компании. Все
                    именно так просто.</div></h4><br>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-signal logo"></span>
            </div>
        </div>
    </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
    <h2>Что мы предлагаем</h2>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>Лучшие цены автомобилей</h4>
            <p>Мы сравним все предложения и покажем вам самые выгодные варианты.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-road logo-small"></span>
            <h4>Аренда авто любого класса</h4>
            <p>В нашей базе собраны более 1000 вариантов по прокату авто</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>Быстрый поиск</h4>
            <p>Поисковые фильтры помогут подобрать оптимальный вариант автомобиля по вашему запросу.</p>
        </div>
    </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">Связь</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Свяжитесь с нами, и мы свяжемся с вами в течение 24 часов.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Уфа</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> admin@prokat.ru</p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Имя" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Сообщение"
                      rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>

