{% extends 'base.html' %}
{% block title %}  Новые машины {% endblock %}


{% block nav %}
    <li><a href="{% url 'newcar' %}"><span class="glyphicon glyphicon-align-justify"></span> Новые машины</a></li>
    <li><a href="{% url 'popularcar' %}"><span class="glyphicon glyphicon-star"></span> Популярные машины</a></li>
    <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-envelope"></span> Контакты</a></li>
    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти {{request.user.username}}</a></li>
{% endblock %}


{% block body %}
    <div class="container" style="margin-top: 15px;">
        <div class="row">
            {% for ob in car %}

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        {% if ob.image %}
                            <img src='{{ ob.image.url }}' class="img-responsive"/>
                        {% endif %}
                        <div class="caption">
                            <strong>{{ ob.car_name }}</strong>
                            <p> Название компании: {{ ob.company_name }}<br>
                                Количество мест: {{ ob.num_of_seats }}<br>
                                Стоимость за день: {{ ob.cost_par_day }} рублей<br>
                            </p>
                            <div class="pull-right">
                                <p>
                                    <a href="{% url 'like' ob.id %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                                    <a href="{% url 'car_detail' ob.id %}" class="btn btn-primary" role="button">Подробно</a>
                                    <a href="{% url 'order_create' %}" class="btn btn-danger" role="button">Заказ</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}