{% extends 'base.html' %}
{% block title %} List Order {% endblock %}

{% block search %}
{% endblock %}


{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "car_list" %}"><span class="glyphicon glyphicon-home"></span> Список автомобилей</a>
            </li>
            <li><a href="{% url 'order_list' %}"><span class="glyphicon glyphicon-tags"></span> Список заказов</a></li>
            <li><a href="{% url 'message' %}"><span class="glyphicon glyphicon-envelope"></span> Сообщения</a></li>
            <li><a href="{% url 'car_create' %}"><span class="glyphicon glyphicon-plus"></span> Добавить машину</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти {{ request.user.username }}</a></li>
            {% else %}
                <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Войти</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block body %}
    <div class='container table-responsive'>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-list"></span> Весь список заказов</strong> </div>
            <div class="panel-body">
                <strong class="navbar-form navbar-left" style="color: #5f5f5f;"><span class="glyphicon glyphicon-cog"></span> 25 заказов на страницу </strong>
                {% block search_box %}
                    <form method="GET" class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Поиск заявки" value="{{request.GET.q}}" name="q">
                        </div>
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Поиск</button>
                    </form>
                {% endblock %}

                <!-- Table -->
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <td><strong>ID заказа</strong></td>
                        <td><strong>Имя сотрудника</strong></td>
                        <td><strong>Номер телефона</strong></td>
                        <td><strong>Название автомобиля</strong></td>
                        <td><strong>С какого</strong></td>
                        <td><strong>До</strong></td>
                        <td><strong>Действие</strong></td>
                    </tr>

                    {% for ob in order %}
                        <tr>
                            <td>{{ob.id}} ORD</td>
                            <td>{{ob.employee_name}}</td>
                            <td>{{ob.cell_no}}</td>
                            <td>{{ob.car_name}}</td>
                            <td>{{ob.date_from}}</td>
                            <td>{{ob.date_to}}</td>
                            <td>

                                <a href="{% url 'order_detail' ob.id %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></button></a>
                                <a href="{% url 'order_delete' ob.id %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a>

                            </td>
                        </tr>
                    {% endfor %}

                </table>


                <nav>
                    <ul class="pager">
                        <li class="previous">
                            {% if car.has_previous %}
                                <a href="?page={{ order.previous_page_number }}" class="next-page"><span aria-hidden="true">&larr;</span>Назад</a>
                            {% endif %}
                        </li>
                        <li class="previous" style="color: black;">
                            Страниц {{ order.number }} из {{ order.paginator.num_pages }}.

                        </li>
                        <li class="next">
                            {% if car.has_next %}
                                <a href="?page={{ order.next_page_number }}" class="next-page">Вперед <span aria-hidden="true">&rarr;</span></a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <hr>


            </div>
        </div>
{% endblock %}