{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Создать заявку {% endblock %}

{% block search_box %}
{% endblock %}


{% block nav %}
    <li><a href="{% url 'newcar' %}"><span class="glyphicon glyphicon-align-justify"></span> Новые машины</a></li>
    <li><a href="{% url 'popularcar' %}"><span class="glyphicon glyphicon-star"></span> Популярные машины</a></li>
    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти</a></li>
{% endblock %}


{% block body %}
    <div class ='col-sm-6 col-sm-offset-3'>
        <div class="panel panel-primary">
            <p class="list-group-item active">
                <strong><span class="glyphicon glyphicon-tag"></span> Забронируй свой автомобиль</strong>
            </p><br>
            <form method="POST" action="{% url 'order_create' %}" >
                {% csrf_token %}
                {{ form|crispy }}

                <script>
                    $(function () {
                        $.datetimepicker.setLocale('ru');
                        $("[id^='id_date']").datetimepicker({
                            format: 'Y-m-d H:i',
                        });
                    });
                </script>

                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Бронировать</button>
            </form>
        </div>
    </div>
{% endblock %}

