h1{
   color: #5f5f5f;
}
body{
  background:url('../images/');
}
.navbar {
      margin-bottom: 35px !important;
      background-color: #00abb3;
      z-index: 9999;
      border: 0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;

      border-radius: 0;

  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .navbar-custom{
    background-color: #00abb3 !important;
  }
  .navbar-fixed-top {
    position: relative!important;
    }
/*slide*/
    .carousel-inner {
        margin-bottom:30px;
    }
  .carousel-inner img {
      /*-webkit-filter: grayscale(90%);
     /* filter: grayscale(90%);  make all photos black and white */
      width: 100%; /* Set width to 100% */
      height:500px !important;
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .panel{
     margin-top:25px;
  }
  .thumbnail{
    width: 250px;
    /*height: 400px;*/
    overflow: auto;
}

.thumbnail img{
    width: 230px;
    /*height: 237px;*/
}
.panel-primary {
   border-color: #f1f1f1 !important;
}
}
.darger{
   background-color: #f4511e !important;
   color:#fff;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #00abb3 !important;
}
/*theme*/
.next-page {
    background-color:#1aa3ff !important;
    color: white !important;
}
.asteriskField {
    color: red;
    padding-left: 3px;
    font-size: 16px;
}